Repository AkhTech/test_labeler, changes with the owners that .github/CODEOWNERS names for each.
All owners: @akhtech/team1, @akhtech/team2, @akhtech/team3

Create pr_validation.yml
  .github/workflows/pr_validation.yml
Owners: none

Add folders
  folder1/file1
  folder2/file1
  folder3/file1
  folder4/file1
  folder5/file1
  folder6/file1
Owners: @akhtech/team1, @akhtech/team2, @akhtech/team3

Update file1
  folder1/file1
Owners: @akhtech/team1

Update pr_validation.yml
  .github/workflows/pr_validation.yml
Owners: none

Add folders
  folder4/file1
Owners: @akhtech/team1, @akhtech/team2, @akhtech/team3

Update pr_validation.yml
  .github/workflows/pr_validation.yml
Owners: none

Add folders
  folder4/file1
Owners: @akhtech/team1, @akhtech/team2, @akhtech/team3

revert folder4/file1
  folder4/file1
Owners: @akhtech/team1, @akhtech/team2, @akhtech/team3

.github/CODEOWNERS:

/folder1/ @akhtech/team1
/folder2/ @akhtech/team2
/folder3/ @akhtech/team3
/folder4/ @akhtech/team1 @akhtech/team2 @akhtech/team3
/folder5/ @akhtech/team1 @akhtech/team3
/folder6/ @akhtech/team3 @akhtech/team2
